# Dependencies
node_modules/

# Build output
.next/
out/
public/tw.css

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# OS artifacts
.DS_Store

# Supabase auth helpers
supabase/.temp
